<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="systemEnv" class="java.lang.String">
        <constructor-arg value="LOCAL"/>
    </bean>

    <bean id="mysql.url" class="java.lang.String">
        <constructor-arg value="jdbc:mysql://rm-j6cvh8a5d4q88473dmo.mysql.rds.aliyuncs.com:3306/dev_coin_db"/>
        <!--<constructor-arg value="jdbc:mysql://localhost:3306/dev_coin_db"/>-->
    </bean>
    <bean id="mysql.username" class="java.lang.String">
        <constructor-arg value="qa_smartbit"/>
        <!--<constructor-arg value="root"/>-->
    </bean>
    <bean id="mysql.password" class="java.lang.String">
        <constructor-arg value="smartbit_ZyZG4dx6HUI"/>
        <!--<constructor-arg value="root"/>-->
    </bean>
    <!--Configuration parameters for the 'bitcoind' JSON-RPC client ('BtcdClient') and notification daemon ('BtcdDaemon') -->
    <bean name="nodeConfig" class="java.util.Properties">
        <constructor-arg>
            <map>
                <entry key="node.bitcoind.rpc.protocol" value="http"/>
                <entry key="node.bitcoind.rpc.host" value="47.244.131.203"/>
                <entry key="node.bitcoind.rpc.port" value="18332"/>
                <entry key="node.bitcoind.rpc.user" value="smartbit"/>
                <entry key="node.bitcoind.rpc.password"
                       value="jianyu1234"/>
                <entry key="node.bitcoind.http.auth_scheme" value="Basic"/>
                <entry key="node.bitcoind.notification.alert.port" value="5158"/>
                <entry key="node.bitcoind.notification.block.port" value="5159"/>
                <entry key="node.bitcoind.notification.wallet.port" value="5160"/>
            </map>
        </constructor-arg>
    </bean>

    <bean name="eosWalletConfig" class="java.util.Properties">
        <constructor-arg>
            <map>
                <entry key="eosDepositAccount" value-ref="eosDepositAccount"/>
                <entry key="eosWalletUrl" value="http://47.244.131.203:8088"/>
                <entry key="eosChainUrl" value="https://junglehistory.cryptolions.io:443"/>
                <entry key="eosWalletName" value="default"/>
                <entry key="activeAccountPublicKey" value="EOS7oXMgYaxSZFNy97HLj9VXL961UtRvRQ32rJTePGxVjstc2Hxyr"/>
            </map>
        </constructor-arg>
    </bean>

    <bean id="eosDepositAccount" class="java.lang.String">
        <constructor-arg value="bitcoke12345"/>
    </bean>

    <!-- Websocket of ExServer -->
    <bean id="exServerWebSocketUrl" class="java.lang.String">
        <!--<constructor-arg value="ws://127.0.0.1:19888/"/>-->
        <constructor-arg value="ws://47.245.31.183:19888/"/>
    </bean>
    <bean id="exServerUser" class="java.lang.String">
        <constructor-arg value="admin"/>
    </bean>
    <bean id="exServerPassword" class="java.lang.String">
        <constructor-arg value="5f75ab6f9dec6fbf69adf0ca75f6a7e9672b06bb"/>
    </bean>

    <!-- ExStat -->
    <bean id="exStatServerSocketHost" class="java.lang.String">
        <constructor-arg value="127.0.0.1"/>
    </bean>
    <bean id="exStatServerSocketPort" class="java.lang.Integer">
        <constructor-arg value="23378"/>
    </bean>
    <bean id="exStatUser" class="java.lang.String">
        <constructor-arg value="admin1"/>
    </bean>
    <bean id="exStatPassword" class="java.lang.String">
        <constructor-arg value="admin1"/>
    </bean>

    <!-- ExMarket -->
    <bean id="exMarketServerSocketHost" class="java.lang.String">
        <constructor-arg value="47.245.31.183"/>
    </bean>
    <bean id="exMarketServerSocketPort" class="java.lang.Integer">
        <constructor-arg value="63410"/>
    </bean>

    <!-- ExMatcher -->
    <bean id="exMatcherServerSocketUrl" class="java.lang.String">
        <constructor-arg value="ws://47.245.31.183:63383/"/>
    </bean>
    <bean id="exMatcherUser" class="java.lang.String">
        <constructor-arg value="2000"/>
    </bean>
    <bean id="exMatcherPassword" class="java.lang.String">
        <constructor-arg value="144e4c32e4ea2b5ccf3b37c6d6a034509a1c6982"/>
    </bean>

</beans>
